<div class="image-gradient-dynamic">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
  <div class="overlay"></div>
  <div class="copy">
		<div class="hero-copy">
      <h1>MBMetrics</h1>
      <h2>The Myers-Briggs Personality analyzer</h2>
      <p>This is my personal project for Turing: Module 3</p>
		</div>
    <button>Learn More</button>
  </div>
</div>
