This will explain the <a href="http://www.uclassify.com/browse/prfekt"/>typealyzer</a> API, </br>
which is based on the work that this <a href="http://www.uclassify.com/browse/prfekt"/>guy</a> has done.
