THIS WILL SHOW EACH TYPE

<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>The Catchphrase</h4>
      <h1>The Individual Type</h1>
      <p>The description</p>
      <p>Famous people of this type:</p>
      <p>Average happiness index</p>
    </div>
  </div>
</div>
