<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4><%=@personality.catchphrase%></h4>
      <h1><%=@personality.MBPT%></h1>
      <h5>Jungian functional preferences</h5>
      <ul>
        <li>Dominant: Introverted Intuition</li>
        <li>Auxiliary: Extraverted Thinking</li>
        <li>Tertiary: Introverted Feeling</li>
        <li>Inferior: Extraverted Sensing</li>
      </ul>
      <p><%=simple_format(@personality.full_description)%></p>
      <p>Famous people of this type:</p>
      <p>Average happiness index</p>
    </div>
  </div>
</div>


<hr>
<footer>Explanation taken from <a href="https://www.personalitypage.com/html/portraits.html">personality pages</footer>
