<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4><%=@personality.catchphrase%></h4>
      <h1><%=@personality.type%></h1>
      <h5>Jungian functional preferences</h5>
      <ul>
        <li>Dominant: Introverted Sensing</li>
        <li>Auxiliary: Extraverted Feeling</li>
        <li>Tertiary: Introverted Thinking</li>
        <li>Inferior: Extraverted Intuition</li>
      </ul>
      <p><%=@personality.full_description%></p>
      <p>Famous people of this type:</p>
      <p>Average happiness index</p>
    </div>
  </div>
</div>


<hr>
<footer>Excerpted from Introduction to Type® by Isabel Briggs Myers published by CPP. Inc.</footer>
