<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4><%=@personality.catchphrase%></h4>
      <h1><%=@personality.MBPT%></h1>
      <h5>Jungian functional preferences</h5>
      <ul>
        <li>Dominant: Introverted Feeling	</li>
        <li>Auxiliary: Extraverted Sensing</li>
        <li>Tertiary: Introverted Intuition	</li>
        <li>Inferior: Extraverted Thinking</li>
      </ul>
      <p><%=simple_format(@personality.full_description)%></p>
      <p>Famous people of this type:</p>
      <p>Average happiness index</p>
    </div>
  </div>
</div>



<hr>
<footer>Excerpted from Introduction to Type® by Isabel Briggs Myers published by CPP. Inc.</footer>
