<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4><%=@personality.catchphrase%></h4>
      <h1><%=@personality.MBPT%></h1>
      <h5>Jungian functional preferences</h5>
      <ul>
        <li>Dominant: Introverted Thinking</li>
        <li>Auxiliary: Extraverted Sensing</li>
        <li>Tertiary: Introverted Intuition	</li>
        <li>Inferior: Extraverted Feeling</li>
      </ul>
      <p><%=simple_format(@personality.full_description)%></p>
      <p>Famous people of this type:</p>
      <p>Average happiness index</p>
    </div>
  </div>
</div>

<hr>
<footer>Explanation taken from <a href="https://www.personalitypage.com/html/portraits.html">personality pages</footer>

<style>
.side-image .images-wrapper {
    background: url(<%= image_path("background_images/#{randomized_background_image}.JPG")%>) no-repeat;
    display: table-cell;
    width: 33.3333%;
    background-position: center bottom;
    background-size: cover;
    border-right: 1px solid rgba(38, 74, 38, 0.2);
}

</style>
