<div class="side-image">
  <div class="images-wrapper">

  </div>
    <div class="side-image-content">
      <h4>Hey baby, what's your type?</h4>
      <h1>Analyze Me</h1>
      <h3>Instructions</h3>
      <p>Signing in with twitter, will allow the site to analyze your tweets and place them into one of the 16 Meyers-Briggs personalities. Keep in mind, this is only as accurate as your posts are a reflection of the real you.</p>
      <p>Your tweets will then be analyzed by word freqeuncy using a hedonometer to give a general happiness rating as compared to other people of the same type.</p>
      <p>The inspiration for this app comes from the interest I have in the differences and similarities between people with different types of personalities.</p>
      <h3>But...why?</h3>
      <p>Understanding someone's personality allows for better and more substantial interactions. Why stop there though? Let's take it to the next level.</p>
      <p>This app is for anyone interested in personality types and how they are related to how we express ourselves;
      hopefully, this app will provide some insight into how you portray yourself online as well as how the 16 different types differ in this regard.</p>
      <h3>Integrations</h3>
      <p>This app uses the twitter OAuth provider to analyze your tweets. Hopefully, in the future I will extend this to other media sources such as Facebook</p>
      <h3>APIs</h3>

      <p>The app uses this API to classify content into one of the 16 Meyers-Briggs personality types - the <a href="/typealyzer">typealyzer</a>.</p>
      <p>This is powered by looking at each component individually:</p>

          <blockquote><ul>
            <li>Specific to <a href = "http://www.uclassify.com/browse/prfekt/Myers-Briggs-Judging-Function">Feeling vs. Thinking</a></li>
            <li>Specific to <a href = "http://www.uclassify.com/browse/prfekt/Myers-Briggs-Perceiving-Function">iNtuition vs. Sensing</a></li>
            <li>Specific to <a href = "http://www.uclassify.com/browse/prfekt/myers-briggs-attitude ">Extraversion vs. Introverson</a></li>
            <li>Specific to <a href = "http://www.uclassify.com/browse/prfekt/Myers-Briggs-Lifestyle">Judging vs. Perceiving</a></li>
         </ul></blockquote>

      </p>After this, I use this API to then further classify this content by senitment:
        <a href='/hedonometer'>hedonometer.</a></p>
    </div>
  </div>
</div>


<style>
.side-image .images-wrapper {
    background: url(<%= image_path("background_images/#{randomized_background_image}.JPG")%>) no-repeat;
    display: table-cell;
    width: 33.3333%;
    background-position: center bottom;
    background-size: cover;
    border-right: 1px solid rgba(38, 74, 38, 0.2);
}

</style>
