    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#scroll-link-1">Concepts</a> |
      <a class="scroll-on-page-link" href="#scroll-link-2">Type</a> |
      <a class="scroll-on-page-link" href="#scroll-link-3">Four dichotomies</a> |
      <a class="scroll-on-page-link" href="#scroll-link-4">Attitudes: extraversion/introversion</a> |
      <a class="scroll-on-page-link" href="#scroll-link-5">Functions: sensing/intuition and thinking/feeling</a> |
      <a class="scroll-on-page-link" href="#scroll-link-6">Dominant function</a> |
      <a class="scroll-on-page-link" href="#scroll-link-7">Lifestyle preferences: judging/perception </a>
    </aside>
<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <div class="scroll-on-page">
      <article>

      <h1>The Meyers-Briggs Personality Types</h1>

      <section>
        <h4 id="scroll-link-1">Concepts</h4>
        <p>Fundamental to the Myers–Briggs Type Indicator is the theory of psychological type as originally developed by Carl Jung. Jung proposed the existence of two dichotomous pairs of cognitive functions:</br>
        The "rational" (judging) functions: thinking and feeling and the
        The "irrational" (perceiving) functions: sensation and intuition</p>
        <p>Jung believed that for every person each of the functions are expressed primarily in either an introverted or extraverted form. From Jung's original concepts, Briggs and Myers developed their own theory of psychological type, described below, on which the MBTI is based.</p>
      </section>

      <section>
        <h4 id="scroll-link-2">Type</h4>
        <p>Jung's typological model regards psychological type as similar to left or right handedness: individuals are either born with, or develop, certain preferred ways of perceiving and deciding. The MBTI sorts some of these psychological differences into four opposite pairs, or dichotomies, with a resulting 16 possible psychological types. None of these types are better or worse; however, Briggs and Myers theorized that individuals naturally prefer one overall combination of type differences. In the same way that writing with the left hand is hard work for a right-hander, so people tend to find using their opposite psychological preferences more difficult, even if they can become more proficient (and therefore behaviorally flexible) with practice and development.</p>
        <p>The 16 types are typically referred to by an abbreviation of four letters—the initial letters of each of their four type preferences (except in the case of intuition, which uses the abbreviation N to distinguish it from introversion).</p>
        <p>For instance:
        ESTJ: extraversion (E), sensing (S), thinking (T), judgment (J) </br>
        INFP: introversion (I), intuition (N), feeling (F), perception (P) </p>
        <p>This method of abbreviation is applied to all 16 types.</p>
      </section>

      <section>
        <h4 id="scroll-link-3">The Four Dichotomies</h4></br>
        <table>
          <tr>
            <th></th>
            <th>Subjective</th>
            <th>Objective</th>
          <tr>
          <th>Deductive </th>
            <td>iNtuition/Sensing</td>
            <td>Perception/Judging</td>
          </tr>
          <tr>
          <th>Inductive </th>
          <td>Feeling/Thinking</td>
          <td>Introversion/Extraversion</td>
          </tr>
        </table>
        <p> Note that the terms used for each dichotomy have specific technical meanings relating to the MBTI which differ from their everyday usage. For example, people who prefer judgment over perception are not necessarily more judgmental or less perceptive. Nor does the MBTI instrument measure aptitude; it simply indicates for one preference over another. Someone reporting a high score for extraversion over introversion cannot be correctly described as more extraverted: they simply have a clear preference.
           Point scores on each of the dichotomies can vary considerably from person to person, even among those with the same type. However, Isabel Myers considered the direction of the preference (for example, E vs. I) to be more important than the degree of the preference (for example, very clear vs. slight). The expression of a person's psychological type is more than the sum of the four individual preferences. The preferences interact through type dynamics and type development.</p>
      </section>


      <section>
        <h4 id="scroll-link-4">Attitudes: extraversion/introversion</h4>
        <p>Myers–Briggs literature uses the terms extraversion and introversion as Jung first used them. Extraversion means "outward-turning" and introversion means "inward-turning". These specific definitions vary somewhat from the popular usage of the words. Note that extraversion is the spelling used in MBTI publications.
           The preferences for extraversion and introversion are often called "attitudes". Briggs and Myers recognized that each of the cognitive functions can operate in the external world of behavior, action, people, and things ("extraverted attitude") or the internal world of ideas and reflection ("introverted attitude"). The MBTI assessment sorts for an overall preference for one or the other.
           People who prefer extraversion draw energy from action: they tend to act, then reflect, then act further. If they are inactive, their motivation tends to decline. To rebuild their energy, extraverts need breaks from time spent in reflection. Conversely, those who prefer introversion "expend" energy through action: they prefer to reflect, then act, then reflect again. To rebuild their energy, introverts need quiet time alone, away from activity.
           The extravert's flow is directed outward toward people and objects, and the introvert's is directed inward toward concepts and ideas. Contrasting characteristics between extraverts and introverts include the following:

            <block>Extraverts are "action" oriented, while introverts are "thought" oriented.
            Extraverts seek "breadth" of knowledge and influence, while introverts seek "depth" of knowledge and influence.
            Extraverts often prefer more "frequent" interaction, while introverts prefer more "substantial" interaction.
            Extraverts recharge and get their energy from spending time with people, while introverts recharge and get their energy from spending time alone; they consume their energy through the opposite process. </block></p>
      </section>

      <section>
        <h4 id="scroll-link-5">Functions: sensing/intuition and thinking/feeling</h4>

          <p>Jung identified two pairs of psychological functions:</p>

            <p>Two perceiving functions: sensing and intuition</br>
            Two judging functions: thinking and feeling</br></p>

          <p>According to Jung's typology model, each person uses one of these four functions more dominantly and proficiently than the other three; however, all four functions are used at different times depending on the circumstances.</p>
          <p>Sensing and intuition are the information-gathering (perceiving) functions. They describe how new information is understood and interpreted. Individuals who prefer sensing are more likely to trust information that is in the present, tangible, and concrete: that is, information that can be understood by the five senses. They tend to distrust hunches, which seem to come "out of nowhere". They prefer to look for details and facts. For them, the meaning is in the data. On the other hand, those who prefer intuition tend to trust information that is less dependent upon the senses, that can be associated with other information (either remembered or discovered by seeking a wider context or pattern). They may be more interested in future possibilities. For them, the meaning is in the underlying theory and principles which are manifested in the data.</p>
          <p>Thinking and feeling are the decision-making (judging) functions. The thinking and feeling functions are both used to make rational decisions, based on the data received from their information-gathering functions (sensing or intuition). Those who prefer thinking tend to decide things from a more detached standpoint, measuring the decision by what seems reasonable, logical, causal, consistent, and matching a given set of rules. Those who prefer feeling tend to come to decisions by associating or empathizing with the situation, looking at it 'from the inside' and weighing the situation to achieve, on balance, the greatest harmony, consensus and fit, considering the needs of the people involved. Thinkers usually have trouble interacting with people who are inconsistent or illogical, and tend to give very direct feedback to others. They are concerned with the truth and view it as more important.</p>
          <p>As noted already, people who prefer thinking do not necessarily, in the everyday sense, "think better" than their feeling counterparts, in the common sense; the opposite preference is considered an equally rational way of coming to decisions (and, in any case, the MBTI assessment is a measure of preference, not ability). Similarly, those who prefer feeling do not necessarily have "better" emotional reactions than their thinking counterparts.</p>
      </section>


      <section>
        <h4 id="scroll-link-6">Dominant function</h4>
        <%= image_tag("Logo.png") %>
        <p>A diagram depicting the cognitive functions of each type. A type's background color represents its dominant function and its text color represents its auxiliary function.<p>
        <p>According to Jung, people use all four cognitive functions. However, one function is generally used in a more conscious and confident way. This dominant function is supported by the secondary (auxiliary) function, and to a lesser degree the tertiary function. The fourth and least conscious function is always the opposite of the dominant function. Myers called this inferior function the shadow.
        The four functions operate in conjunction with the attitudes (extraversion and introversion). Each function is used in either an extraverted or introverted way. A person whose dominant function is extraverted intuition, for example, uses intuition very differently from someone whose dominant function is introverted intuition.</p>
      </section>

      <section>
        <h4 id="scroll-link-7">Lifestyle preferences: judging/perception</h4>
        <p>Myers and Briggs added another dimension to Jung's typological model by identifying that people also have a preference for using either the judging function (thinking or feeling) or their perceiving function (sensing or intuition) when relating to the outside world (extraversion).</p>
        <p>Myers and Briggs held that types with a preference for judging show the world their preferred judging function (thinking or feeling). So TJ types tend to appear to the world as logical and FJ types as empathetic. According to Myers,judging types like to "have matters settled".</p>
        <p>Those types who prefer perception show the world their preferred perceiving function (sensing or intuition). So SP types tend to appear to the world as concrete and NP types as abstract. According to Myers, perceptive types prefer to "keep decisions open".</p>
        <p>For extraverts, the J or P indicates their dominant function; for introverts, the J or P indicates their auxiliary function. Introverts tend to show their dominant function outwardly only in matters "important to their inner worlds". </p>
        <p>For example</p>
        <p>Because the ENTJ type is extraverted, the J indicates that the dominant function is the preferred judging function (extraverted thinking). The ENTJ type introverts the auxiliary perceiving function (introverted intuition). The tertiary function is sensing and the inferior function is introverted feeling.</p>
        <p>Because the INTJ type is introverted, however, the J instead indicates that the auxiliary function is the preferred judging function (extraverted thinking). The INTJ type introverts the dominant perceiving function (introverted intuition). The tertiary function is feeling and the inferior function is extraverted sensing. </p>
            <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
      </section>

      <footer>Taken from <a href="http://en.wikipedia.org/wiki/Myers-Briggs_Type_Indicator">wikipedia</a></footer>
    </article>
  </div>
  </div>
</div>
