<div class="image-gradient-dynamic">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
  <div class="overlay"></div>
  <div class="copy">
		<div class="hero-copy">
      <h1>Analyze <b>Me</b></h1>
      <h2>The Myers-Briggs and Sentiment Personality Analyzer</h2>
		</div>
      <button><%= link_to "Get Started with Twitter!", "auth/twitter", class: "dash-button" %></button>
      <button><%= link_to "Get Started with Facebook!", "auth/facebook", class: "dash-button" %></button>

      <button><a href="/about" class="dash-button",>Learn More</a></button>
      <p>This is my personal project for Turing: Module 3</p>
  </div>
</div>
</a></li>
