<div class="image-gradient-dynamic">
  <%= image_tag("background_images/#{randomized_background_image}.JPG") %>
  <div class="overlay"></div>
  <div class="copy">
		<div class="hero-copy">
      <h1>Analyze <b>Me</b></h1>
        <form action="/auth/twitter">
            <input type="submit" value="Get Started with Twitter!", class="dash-button">
        </form>
        <form action="/about">
            <input type="submit" value="Learn More", class="dash-button">
        </form>
      <p>This is my personal project for Turing: Module 3. All photos are from my travels unless otherwise noted</p>
    </div>
  </div>
</div>
