<div class="side-image">
  <div class="images-wrapper">
  </div>
    <div class="side-image-content">
      <h1>The Hedonometer</h1>
      <h4>Happiness</h4>
      <p>It’s what most people say they want. So how do we know how happy people are? You can’t improve or understand what you can’t measure. In a blow to happiness, we’re very good at measuring economic indices and this means we tend to focus on them. With hedonometer.org we’ve created an instrument that measures the happiness of large populations in real time.</p>
      <p>Our <a href="http://hedonometer.org/index.html">API</a> is based on people’s online expressions, capitalizing on data-rich social media, and we’re measuring how people present themselves to the outside world. For our first version of hedonometer.org, we’re using Twitter as a source but in principle we can expand to any data source in any language (more below).</p>
      <p>So this is just a start — we invite you to explore the Twitter time series and let us know what you think.</p>
      <p><a href="Hedonometer.org">Hedonometer.org</a> is based on the research of Peter Dodds and Chris Danforth and their team in the Computational Story Lab, including visualization by Andy Reagan, at the University of Vermont Complex Systems Center, and the technology of Brian Tivnan, Matt McMahon and their team from The MITRE Corporation.</p>

      <hr>
      <footer class="h-footer">Explanation taken from: <a href="http://hedonometer.org/about.html">http://hedonometer.org/about.html</a></footer>
    </div>
  </div>
</div>
