<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>INTJ</h4>
      <h1>Dustin Gault</h1>
      <%= image_tag("Me.jpg") %>
      <p>This site is my personal project for the <a href ="turing.io">Turing School of Software and Design</a> and stems from my interests in personality types.</p>
      <p>I had no previous coding experience, coming from a medical/science/philosophy background before starting coding school at Turing. I am currently looking for employment :).</p>
      <p>This app is for anyone interested in personality types and how they are related to how we express ourselves;
         hopefully, this app will provide some insight into how you portray yourself online.</p>
      <p>All photos are from my travels unless otherwise noted.</p>
      <hr>
      <p>From Twitter: I am an aspiring web developer; a certified medical lab scientist; an atheist, vegetarian, existentialist, lover of electronic music, a Buddhist sympathizer, and a socialist libertarian.</p>
    </div>
  </div>
</div>

<style>
.side-image .images-wrapper {
    background: url(<%= image_path("background_images/#{randomized_background_image}.JPG")%>) no-repeat;
    display: table-cell;
    width: 33.3333%;
    background-position: center bottom;
    background-size: cover;
    border-right: 1px solid rgba(38, 74, 38, 0.2);
}

</style>
