<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>Privacy Statement</h1>
      <p>This site is my personal project for the <a href ="turing.io">Turing school of software and design</a> and stems from my interests in personality types.</p>
      <p>This app uses either your Facebook posts or your Twitter tweets and analyzes your word choices to try and place you into one of the 16 myers-briggs personality types. </p>
      <p>The data needed to do this will never be used for any other purpose. You can signout and/or delete your data at anytime. This app is being built over a 3 week period specifically to explore APIs for the Turing coding school and is not a professional app. It is still under construction.</p>
      <%= image_tag("1984.jpg") %>
    </div>
  </div>
      Image from <a href="https://lightlit.files.wordpress.com/2014/07/1984_by_alcook-d4z39dh.jpg">1984</a> by Orwell.
</div>

<style>
.side-image .images-wrapper {
    background: url(<%= image_path("background_images/#{randomized_background_image}.JPG")%>) no-repeat;
    display: table-cell;
    width: 33.3333%;
    background-position: center bottom;
    background-size: cover;
    border-right: 1px solid rgba(38, 74, 38, 0.2);
}

</style>
