<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>INTJ</h4>
      <h1>Dustin Gault</h1>
      <p>This site is my personal project for the <a href ="turing.io">Turing school of software and design</a> and stems from my interests in personality types.</p>
      <p>This app is for anyone interested in personality types and how they are related to how we express ourselves;
         hopefully, this app will provide some insight into how you portray yourself online as well as how the 16 different types differ in this regard.</p>
         <hr>
      <p>From Twitter: I am an aspiring web developer; a certified medical lab scientist; an atheist, vegetarian, existentialist, lover of electronic music, a Buddhist sympathizer, and a socialist libertarian.</p>
    </div>
  </div>
</div>
