<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>The Typealyzer</h1>
      <p>This <a href="http://www.typealyzer.com/"/>API</a> is built by Jon Kågström using WordPress as the framework and the classification is powered by his text classification server uClassify.</p>
      <p>It works by comparing the texts on the provided URL with pre-defined sample texts collected by<a href="http://www.uclassify.com/browse/prfekt"/>Mattias Östmar.</a> You can read more: <a href="https://mattiasostmar.wordpress.com/">here</a>.</p></br>
    </div>
  </div>
</div>
