<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>The Myers-Briggs APIs</h1>
      <p>I used 4 different APIs to determine a user's personality, one for each of the four categories.</p>
      <p>It works by comparing the tweets with pre-defined sample texts collected by<a href="http://www.uclassify.com/browse/prfekt"/>Mattias Östmar.</a> You can read more: <a href="https://mattiasostmar.wordpress.com/">here</a>.</p></br>
    </div>
  </div>
</div>

<style>
.side-image .images-wrapper {
    background: url(<%= image_path("background_images/#{randomized_background_image}.JPG")%>) no-repeat;
    display: table-cell;
    width: 33.3333%;
    background-position: center bottom;
    background-size: cover;
    border-right: 1px solid rgba(38, 74, 38, 0.2);
}

</style>
