<h1>About my project</h1>

<h3>Pitch</h3>

<p>This app comes from the interest I have in the differences and similarities between people with different types of personalities.</br>

I am using several APIs to aggregate different blogs and classify their content by personality type. I am then further analyzing the data using a hedonometer to analyze the sentiment of each.</p>

<h3>Problem</h3>

<p>Understanding someone's personality allows for better and more substantial interactions. Let's take it to the next level.</p>

<h3>Solution</h3>

<p>The application will hopefully provide insight into how the 16 different types express themselves online.</p>

<h3>Target Audience</h3>

<p>Anyone interested in personality types and how they are related to how we express ourselves.</p>

<h3>Integrations</h3>

<p>What OAuth provider makes sense for this audience?</p>

<p>What API will you use?</p>

<p>I will use this/these APIs to classify content into one of the 16 Meyers-Briggs personality types.</br>
   http://www.typealyzer.com/, which is powered by:</p>

   <ul>
      <li>Specific to Feeling vs. Thinking: http://www.uclassify.com/browse/prfekt/Myers-Briggs-Judging-Function  </li>
      <li>Specific to iNtuition vs. Sensing: http://www.uclassify.com/browse/prfekt/Myers-Briggs-Perceiving-Function </li>
      <li>Specific to Extraversion vs. Introverson: http://www.uclassify.com/browse/prfekt/myers-briggs-attitude </li>
      <li>Specific to Judging vs. Perceiving: http://www.uclassify.com/browse/prfekt/Myers-Briggs-Lifestyle </li>
   </ul>

</p>I will also be using this API to then further classify this content by senitment:
  http://hedonometer.org/about.html</p>
