// You can use Sass (SCSS) here: http://sass-lang.com/

body {
      background-color: black;
      color: white;
      width: 95%;
      margin: 0 auto;

  }


  .button_to {color: black;}

  input {color: black;}
