#flash_alert {
  color:red;
  margin:10px;
  font-size:1.2em;
  text-align:center;
  background-color:pink;
  padding:5px;
}

#flash_notice{
  color:green;
  margin:10px;
  font-size:1.2em;
  text-align:center;
  background-color:lightgreen;
  padding:5px;
}
