<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="/me">About the developer</a></li>
    </ul>

    <div class="footer-secondary-links">

      <ul class="footer-social">
        <li>Sign in with:
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>

<!-- <div>
  <%#= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home" %>     |
  <%#= link_to "Login with Twitter", "/auth/twitter", class: "btn btn-lg btn-default btn-home" %>|
  <%#= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-lg btn-default btn-home" %>
</div> -->
