<footer class="footer-2" role="contentinfo">
    <ul>
      <li><a href="/me">About the developer</a></li>
    </ul>
    <ul>
      <li><a href="/privacy">Your privacy</a></li>
    </ul>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</footer>
