<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Background</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">The APIs</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">The Typealyzer</a></li>
            <li><a href="javascript:void(0)">The Hedonometer</a></li>
          </ul>
        <li class="nav-link"><a href="javascript:void(0)">The 16 types</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">The Types Indepth</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">ESTP-The Promoter</a></li>
            <li><a href="javascript:void(0)">ESFP-The Performer</a></li>
            <li><a href="javascript:void(0)">ENFP-The Inspirer</a></li>
            <li><a href="javascript:void(0)">ENTP-The Visionary</a></li>
            <li><a href="javascript:void(0)">ESTJ-The Supervisor</a></li>
            <li><a href="javascript:void(0)">ESFJ-The Caregiver</a></li>
            <li><a href="javascript:void(0)">ENFJ-The Giver</a></li>
            <li><a href="javascript:void(0)">ENTJ-The Executive</a></li>
            <li><a href="javascript:void(0)">INTJ-The Mastermind</a></li>
            <li><a href="javascript:void(0)">INFJ-The Counselor</a></li>
            <li><a href="javascript:void(0)">ISTJ-The Pragmatist</a></li>
            <li><a href="javascript:void(0)">ISFJ-The Nurturer</a></li>
            <li><a href="javascript:void(0)">INFP-The Romantic</a></li>
            <li><a href="javascript:void(0)">INTP-The Thinker</a></li>
            <li><a href="javascript:void(0)">ISTP-The Mechanic</a></li>
            <li><a href="javascript:void(0)">ISFP-The Peacemaker</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="navigation-tools">
      <div class="search-bar">
        <div class='dynamic_search' data-search="<#%= { types }.to_json %>">
          <%= form_tag('#', :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "types", class: "typeahead"%>
            <button type="submit">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
            </button>
          <% end %>
        </div>
      </div>
      <a href="javascript:void(0)" class="sign-up">Your Profile</a>
    </div>
  </div>
</header>
